.paper {
  width: 100vw;
  height: 100vh;
  background-image: url('paper/ruled_paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  overflow: hidden;
}
.text-layer { padding:1rem; font-family:'Patrick Hand'; font-size:36px; line-height:1.2; z-index:1; }
.canvas-layer { position:absolute; inset:1rem; pointer-events:none; z-index:2; }
html, body, #root {
  margin: 0;
  padding: 0;
  background: #f5f5dc;
  font-family: 'Caveat Brush', cursive;;
  min-height: 100vh;
}
