.paper {
  width: 100vw;
  height: 100vh;
  background-color: #fffef8;
  background-image: 
  linear-gradient(to right, #e88 2px, transparent 2px),
  repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 44px,
    #c0c0c0 45px
  );
  background-position: 4rem 0;
  background-size: 100% 45px;
  position: relative;
  overflow: hidden;
  padding: 6rem 2rem 2rem 5rem;
  box-sizing: border-box;
}

/* letter rendering */
.text-layer { 
  font-size: 36px;
  line-height: 45px;
  white-space: pre-wrap;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.draw-stroke{
  animation-name: draw;
  animation-timing-function: cubic-bezier(0.02, 0, 0.98, 1);
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

/* canvas on top of writing layer */
.canvas-layer { position:absolute; top:0; left:0; right:0; bottom:0; pointer-events:none; z-index:2; }
html, body, #root {
  margin: 0;
  padding: 0;
  background: #f5f5dc;
  font-family: 'Caveat Brush', cursive;;
  min-height: 100vh;
}


